.err {
  color: rgba(253, 29, 29, 1);
  font-size: 16px;
}
.form {
  font-size: 20px;
  border-radius: 6px;
  background-color: rgba(131, 58, 180, 1);
  padding: 20px 25px 25px 25px;
  width: 400px;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  -webkit-box-shadow: -4px 8px 15px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 8px 15px 8px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 8px 15px 8px rgba(0, 0, 0, 0.75);
}
.btnWrapper {
  text-align: center;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  padding-bottom: 35px;
}
.input {
  border-radius: 4px;
  border: none;
  height: 100%;
  font-size: 16px;
  padding: 10px;
  background-color: rgba(230, 154, 47, 0.3479516806722689) 20%;
  -webkit-box-shadow: -4px 2px 25px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -4px 2px 25px 5px rgba(0, 0, 0, 0.3);
  box-shadow: -4px 2px 25px 5px rgba(0, 0, 0, 0.3);
}

.input:focus,
:hover {
  outline: transparent;
}

.btn {
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 150px;
  background-color: rgba(230, 154, 47, 0.3479516806722689) 20%;
  -webkit-box-shadow: -4px 2px 25px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -4px 2px 25px 5px rgba(0, 0, 0, 0.3);
  box-shadow: -4px 2px 25px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  color: rgba(131, 58, 180, 1);
  font-weight: 600;
}
